streamlit==1.38.0
supabase==2.4.0
httpx==0.25.2
fpdf2==2.7.9
passlib[bcrypt]==1.7.4
pydantic==2.9.2
python-dotenv==1.0.1
pandas==2.2.3
plotly==5.24.1
fastapi==0.112.2
uvicorn==0.30.6
streamlit-calendar==0.3.3
email-validator==2.2.0
python-docx==0.8.11
reportlab==4.1.0
matplotlib==3.9.2
beautifulsoup4==4.14.2
